body,
html {
  height: 100%;
  width: 100%;
}

#contentDiv {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formInternalDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  gap: 5px;
}

.f-column {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}
